body{
    background-color: #292929;

}

.col-sm-2 h1{
    color: #fff; /* culoarea in adminca */
}

.col-sm-10{
    background-color: #fff;
    color: #292929
}
/* #side_menu a{
    color:#9fb1c2
} */
#side_menu .active a{
    color: #fff;
    background-color: #27aae1;
    font-weight: bold;
}
#side_menu a:hover{

    background-color :#27aae1;
    font-weight: bold;
}
#side_menu a{
    color: #fff;
    text-decoration: none;font-weight: bold;
}

#footer {
    height: 174px;
    background-color: rgb(54, 53, 53);
    color: #fff;
}
#footer p{
    padding: 15px;
}